body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.content a {
    text-decoration: none;
    color: black;
    font-size: 100%;
    width: 300%;
}

.content button {
    margin: 5%;
    width: 200%;
    height: 10%;
}

@media (max-width: 1000px) {
    .content a{
        font-size: 300%;
    }
}