body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.input_group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input_group p {
    margin-right: 10px;
}

.input_group input {
    margin-left: auto;
}

.content button {
    margin: 6px;
    height: 6%;
}

@media (max-width: 1000px) {
    .input_group p {
        font-size: 200%;
    }

    .input_group input {
        height: 40%;
        font-size: 200%;
    }

    .content button {
        font-size: 200%;
    }
}