.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
}

.login-button {
    background: rgba(110, 110, 112, 0.9);
    width: 6vw;
    text-align: center;
    font-family: 'Ubuntu';
    display: flex;
    height: 4vh;
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}

.login-button:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .login-button {
        margin-top: 5%;
        width: 35%;
        height: 4vh;
        cursor: pointer;
    }
}