.change-password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

#old-password, #new-password, #new-password-confirm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
}

.field p {
    font-family: 'Ubuntu';
    font-size: 1.7vh;
}

.field input {
    height: 2.5vh;
    border-radius: 9px;
    background: rgba(110, 110, 112, 0.7);
    margin-top: 3%;
}

.change-pass-button {
    background: rgba(110, 110, 112, 0.6);
    width: 12%;
    height: 3.3vh;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-pass-button:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    #old-password, #new-password, #new-password-confirm {
        width: 100%;
    }

    .field input {
        height: 3.5vh;
    }

    .change-pass-button {
        width: 50%;
        height: 5vh;
        margin-top: 5%;
    }
}